* {
    background-color: rgb(90, 90, 90);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.window {
    width: min(100%, 800px);
    margin: auto;
    color: white;
}

.post {
    width: 100%;
    padding: 50px;
    background-color: rgb(90, 90, 90);
    box-sizing: border-box;
    display: flex;
}

h1 {
    background-color: inherit;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    padding: 10px 0px;
}

#username {
    width: min(100%, 200px);
    box-sizing: border-box;
}

textarea {
    height: 160px;
}

input, textarea {
    padding: 10px 20px;
    border: 3px solid rgb(109, 109, 247);
    border-radius: 10px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: none;
  border: 3px solid rgb(79, 79, 255); /* Optional: remove border change */
}

.errorMessage {
    color: rgb(244, 79, 79);
}

.createButton {
    background-color: rgb(76, 215, 76);
    width: min(100%, 150px);
    padding: 10px;
    border-radius: 50px;
    margin-left: auto;
    margin-top: 20px;
}

.createButton, input, textarea {
    box-shadow: 0 0 10px rgb(67, 67, 67);
}

.createButton:hover {
    cursor: pointer;
}

.backButton {
    padding: 8px;
    padding-bottom: 3px;
    border-radius: 100px;
    background-color: rgb(113, 113, 113);
    border: none;
    color: white;
    height: fit-content;
    margin-top: 10px;
    margin-right: 12px;
}

.bi {
    background-color: inherit;
}

.backButton:hover {
    background-color: rgb(100, 100, 100);
    cursor: pointer;
}

.text {
    width: 100%;
}