<div class="window">
    <div class="post">
        <button class="backButton" (click)="back()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
        </button>
        <div class="text">
            <h1>Create New Post</h1>

            <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
                <label for="title" class="title">Title:</label>
                <input id="title" formControlName="title">
                <div *ngIf="postForm.controls['title'].invalid && postForm.controls['title'].touched" class="errorMessage">
                    Title is required.
                </div>

                <label for="content">Content:</label>
                <textarea id="content" formControlName="content"></textarea>
                <div *ngIf="postForm.controls['content'].invalid && postForm.controls['content'].touched" class="errorMessage">
                    Content is required.
                </div>

                <label for="username">UserName:</label>
                <input id="username" formControlName="username">
                <div *ngIf="postForm.controls['username'].invalid && postForm.controls['username'].touched" class="errorMessage">
                    UserName is required.
                </div>

                <button type="submit" [disabled]="postForm.invalid" class="createButton">Create</button>
            </form>
        </div>
    </div>
</div>
