.window {
    width: min(100%, 800px);
    margin: auto;
    color: white;
}

.content {
    width: 100%;
}

.post {
    width: 100%;
    padding: 50px;
    background-color: rgb(90, 90, 90);
    box-sizing: border-box;
    display: flex;
}

h1 {
    background-color: inherit;
}

.username {
    color: rgb(201, 201, 201);
    font-size: 13px;
    margin-bottom: 10px;
}

.backButton {
    border-radius: 100px;
    background-color: rgb(113, 113, 113);
    border: none;
    color: white;
    height: fit-content;
    margin-top: 10px;
    margin-right: 12px;
}

.spacing1 {
    padding: 8px;
    padding-bottom: 3px;
}

.spacing2 {
    padding: 6px 8px;
    /* padding-bottom: 6px; */
}

.bi {
    background-color: inherit;
}

.backButton:hover {
    background-color: rgb(100, 100, 100);
    cursor: pointer;
}

input, .addButton {
    padding: 10px 20px;
    border-radius: 100px;
    margin: 5px;
    border: 3px solid rgb(109, 109, 247);
    box-shadow: 0px 0 10px rgb(50, 50, 50);
}

input {
    width: 50%;
}

.addButton {
    padding: 10px 16px;
}

.addButton:hover {
    cursor: pointer;
}

.text {
    margin-bottom: 20px;
}

.commentLabel {
    margin-bottom: 5px;
}

.commentContent {
    background-color: rgb(108, 108, 108);
    margin: 5px;
    padding: 10px;
    display: flex;
}

.deleteComment {
    margin-left: auto;
    padding: 0px 8px 2px 8px;
    border: none;
    align-content: center;
    background-color: inherit;
    transition: 0.2s;
}

.deleteComment:hover {
    cursor: pointer;
    background-color: rgb(77, 77, 77);
}

.commentText {
    background-color: inherit;
}

.name {
    background-color: inherit;
}

* {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(90, 90, 90);
    color: white;
}

.svg {
    background-color: inherit;
}

.edit {
    padding-bottom: 10px;
}