@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

h1 {
    text-align: center;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    /* padding: 12px 100px; */
    padding: 12px 0px;
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
    background-image: linear-gradient(to bottom right, red, orange);
    box-shadow: 0px 0 10px rgb(50, 50, 50);
}

* {
    color: white;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}